---
layout: henter-diandian
---
<article class="post">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="time"><time pubdate="{{ rpost.date }}">{{ page.date | date_to_string }}</time></p>
    <div class="post-content">
    {{ content }}
    </div>
    
    <div class="tags">Tags: 
        {% for tag in page.tags %}
        <a href="/tags.html#{{ tag }}-ref"><span>{{ tag }}</span></a>
        {% endfor %}
    </div>

    <div class="categories">Categories:
        {% for category in page.categories %}
        <a href="/categories.html#{{ category }}"><span>{{ category }}</span></a>
        {% endfor %}
    </div>

    <nav class="pagination-link">
        {% if page.previous %}
        <a class="prev" href="{{ page.previous.url }}" rel="bookmark">&laquo;&nbsp;{{ page.previous.title | truncatewords:5 }}</a>
        {% endif %}
        {% if page.next %}
        <a class="next" href="{{ page.next.url }}" rel="bookmark">{{ page.next.title | truncatewords:5 }}&nbsp;&raquo;</a>
        {% endif %}
    </nav>

    <div class="ds-share" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-images="" data-content="{{ page.description }}" data-url="{{ site.url }}{{ page.url }}">
        <div class="ds-share-inline">
            <ul  class="ds-share-icons-">

                <li data-toggle="ds-share-icons-more"><a class="ds-more" href="javascript:void(0);">分享到：</a></li>
                <li><a class="" href="javascript:void(0);" data-service="weibo"><i class="fa fa-weibo fa-lg"></i> 微博</a></li>
                <li><a class="" href="javascript:void(0);" data-service="qzone"><i class="fa fa-qq fa-lg"></i> QQ空间</a></li>
                <li><a class="" href="javascript:void(0);" data-service="qqt"><i class="fa fa-tencent-weibo fa-lg"></i> 腾讯微博</a></li>
                <li><a class="" href="javascript:void(0);" data-service="wechat"><i class="fa fa-wechat fa-lg"></i> 微信</a></li>

            </ul>
        </div>
    </div>

    <!-- 多说评论框 start -->
    <div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="{{ site.url }}{{ page.url }}"></div>
    <!-- 多说评论框 end -->

</article>
